* {
	margin: 0;
	padding: 0;
	text-decoration: none;
	list-style: none;
	box-sizing: border-box;
	border: none;
	outline: none;
	font-family: ariel, sans-serif;
}

.header {
	background-color: #fafafa;
	height: 124px;
	width: 100%;
	position: relative;
	border-bottom: 1px solid #ebebeb;
}

.header-search {
	height: 64px;
	width: 100%;
	position: absolute;
	display: flex;
	flex-direction: row;
}

.logo {
	top: 22px;
	margin-left: 13px;
	position: relative;
	order: 1;
}

.logo img {
	height: 44px;
	width: 120px;
}

.search-bar {
	background-color: #fff;
	width: 632px;
	height: 44px;
	position: relative;
	left: 17px;
	top: 20px;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16),0 0 0 1px rgba(0,0,0,0.08);
	transition: box-shadow 200ms cubic-bezier(0.4, 0.0, 0.2, 1);
	order: 2;
}

.search-bar:hover {
	box-shadow: 0 3px 8px 0 rgba(0,0,0,0.2), 0 0 0 1px rgba(0,0,0,0.08);
}

.search-box {
	margin: 3px 3px;
	height: 38px;
	width: 626px;
	position: absolute;
	
}

.inner-search-box {

}

.inner-search-box a {
	overflow: hidden;
	margin-left: 15px;
}

.magnifying-glass {
	background-image: url(gicons.png);
	background-repeat: no-repeat;
	height: 25px;
	width: 23px;
	background-position: 12% 33%;
	position: absolute;
	top: 5px;
}

.search-input {
	font-size: 16px;
	line-height: 34px;
	padding-left: 13px;
	padding-top: 2px;
	width: 575px;
}

.right-nav-buttons {
	height: 45px;
	width: 200px;
	left: 501px;
	top: 1px;
	align-self: flex-end;
	flex: 0 1 auto;
	display: flex;
	background-color: #fafafa;
	position: relative;
	order: 3;
}

.apps-button {
	display: inline-flex;
	margin-top: 8px;
	margin-left: 9px;
}

.apps-icon {
	background-image: url(gicon2.png);
	background-position: -132px -38px;
	height: 30px;
	width: 30px;
	opacity: .55;
}

.apps-icon:hover {
	opacity: .85;
}

.notification-button {
	display: inline-flex;
	margin-left: 20px;
	margin-top: 13px;
}

.notification-icon {
	background-color: #db4437;
	height: 20px;
	width: 20px;
	border-radius: 50%;
	font-size: 12px;
	font-weight: bold;
	line-height: 20px;
	text-align: center;
	color: white;
}

.notification-icon:hover {
	background-color: #a52714;
}

.account-button {
	display: inline-flex;
	margin-left: 19px;
	margin-top: 7px;
}

.account-icon {
	background-image: url(accountinit.png);
	height: 32px;
	width: 32px;
	border-radius: 50%;
}

.header-nav {
	height: 59px;
	width: 100%;
	top: 64px;
	position: absolute;
	display: flex;
	flex-flow: row;
	align-content: flex-end;
}

.bottom-nav {
	display: flex;
	flex-flow: row;
	position: relative;
	align-content: flex-end;
	margin-left: 152px;
}

.bottom-nav ul {
	display: flex;
}

.bottom-nav ul li {
	display: inline-flex;
	align-self: flex-end;
}

#active-link {
	border-bottom: 3px solid #4285f4;
	margin-right: 9px;
	padding-right: 15px;
	padding-left: 15px;
	color: #4285f4;
	font-weight: bold;
	padding-bottom: 29px;
}

.bottom-nav ul a {
	display: inline-flex;
	color: #777;
	height: 15px;
	line-height: 15px;
	font-size: 13px;
	padding: 0 24px 31px 8px;
}

.bottom-nav ul a:hover {
	color: #222;
}

.settools {
	display: flex;
	flex-flow: row;
	position: relative;
	margin-left: 93px;
}

.settools a {
	color: #777;
	height: 15px;
	line-height: 15px;
	font-size: 13px;
}

.setting-div {
	display: inline-flex;
	position: relative;
}

.settings-link {
	margin-top: 28px;
	padding-bottom: 33px;
	padding-right: 0;
	margin-right: 15px;
}

.tools-div {
	display: inline-flex;
	position: relative;
	margin-top: 22px;
	margin-bottom: 10px;
}

.tools-box {
	padding: 5px 15px;
}

.tools-div:hover {
	border: 1px solid #c6c6c6;
	background-color: #f8f8f8;
	background-image: linear-gradient(top, #f8f8f8, #f1f1f1);
}
